<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ollama Prompt UI</title>
  <script src="/static/app.js" defer></script>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    
  <div class="shadow shadow-top"></div>
  <div class="conversation-window">
    <div class="conversation-container"></div>
    <div class="spacer"></div>
    <div class="shadow shadow-bottom"></div>
  </div>
    <div class="prompt-window">
      <div class="prompt-container">
        <div id="errorBox" variant="error"></div>
      <form method="POST" id="promptForm">
        <label for="prompt">Ask the Llama:</label><br>
        <textarea id="prompt" name="prompt" rows="6" cols="60"></textarea><br><br>
        <span class="prompt-submit-container">
          <span>
            <input type="submit" value="Send">
          </span>
       Selected prompt template (not used atm): 
       
        <select id="prompt-template">
          {{range .PromptMethods}}
          <option value="{{.}}"  {{if eq . "Default"}}selected{{end}}>{{.}}</option>
          {{end}}
        </select> 
      </span> 
      
    </form>
  </div>
  </div>


</body>
</html>
