<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ollama Prompt UI</title>
  <script src="/static/app.js" defer></script>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    
  <div class="conversation-window">

    <div class="conversation-container"></div>
    <div class="spacer"></div>
  </div>
    <div class="prompt-window">
    <div class="prompt-container">
      <div id="errorBox" variant="error"></div>
      <h1>Ask the Llama</h1>
      <form method="POST" id="promptForm">
      <label for="prompt">Prompt:</label><br>
      <textarea id="prompt" name="prompt" rows="6" cols="60"></textarea><br><br>
      <input type="submit" value="Send">
      
    </form>
  </div>
  </div>


</body>
</html>
